<div class="carousel__slide">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:names.slide",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "t:names.slide"
    }
  ]
}
{% endschema %}