<li class="header__menu-item">
  <nav-details>
    <details class="header__menu-details">
      <summary class="header__menu-summary">
        <span>{{- block.settings.label -}}</span>
        {{ 'icon-caret.svg' | inline_asset_content }}
      </summary>
      <div class="subnav">
        {% content_for 'blocks' %}
      </div>
    </details>
  </nav-details>
</li>

{% javascript %}
  class NavDetails extends HTMLElement {
    constructor() {
      super();
      this.mainDetailsToggle = this.querySelector('details');
      this.content = this.mainDetailsToggle.querySelector('summary').nextElementSibling;
      this.closeBtn = this.querySelector('[details-close]');

      this.mainDetailsToggle.addEventListener('focusout', this.onFocusOut.bind(this));
      this.mainDetailsToggle.addEventListener('toggle', this.onToggle.bind(this));
      this.closeBtn.addEventListener('click', this.close.bind(this));
    }

    onFocusOut() {
      setTimeout(() => {
        if (!this.contains(document.activeElement)) this.close();
      });
    }

    onToggle() {
      if (!this.animations) this.animations = this.content.getAnimations();

      if (this.mainDetailsToggle.hasAttribute('open')) {
        this.animations.forEach((animation) => animation.play());
      } else {
        this.animations.forEach((animation) => animation.cancel());
      }
    }

    close() {
      this.mainDetailsToggle.removeAttribute('open');
      this.mainDetailsToggle.querySelector('summary').setAttribute('aria-expanded', false);
    }
  }

  customElements.define('nav-details', NavDetails);
{% endjavascript %}

{% schema %}
{
  "name": "Nav item submenu",
  "tag": null,
  "blocks": [
    {
      "type": "_nav-sub-card"
    },
    {
      "type": "_nav-sub-group"
    },
    {
      "type": "_nav-item"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "t:settings.label",
      "default": "Submenu"
    }
  ],
  "presets": [
    {
      "name": "Nav item submenu"
    }
  ]
}
{% endschema %}
