<div class="subnav__group">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Nav group",
  "tag": null,
  "blocks": [
    {
      "type": "_nav-card"
    },
    {
      "type": "_nav-featured-item"
    },
    {
      "type": "_nav-menu"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Nav group"
    }
  ]
}
{% endschema %}
