<div class="subnav__group">
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .subnav__group {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Nav group",
  "tag": null,
  "blocks": [
    {
      "type": "_nav-card"
    },
    {
      "type": "_nav-featured-item"
    },
    {
      "type": "_nav-menu"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Nav group"
    }
  ]
}
{% endschema %}
