<a
  class="btn {{ block.settings.button_style }}"
  {% if block.settings.button_link == blank %}
    role="link" aria-disabled="true"
  {% else %}
    href="{{ block.settings.button_link }}"
  {% endif %}
  {{ block.shopify_attributes }}
>
  {{ block.settings.button_label | escape }}
</a>

{% schema %}
{
  "name": "t:names.button",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:settings.label",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:settings.link",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:settings.style",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:settings.primary"
        },
        {
          "value": "btn--secondary",
          "label": "t:settings.secondary"
        },
        {
          "value": "btn--text",
          "label": "t:settings.text"
        }
      ],
      "default": "btn--primary"
    }
  ],
  "presets": [
    {
      "name": "t:names.button"
    }
  ]
}
{% endschema %}
