<div class="custom-liquid {{ block.settings.horizontal_alignment }}" style="max-width: {{ block.settings.max_width }}px;">
  {{ block.settings.custom_code }}
</div>

{% schema %}
{
  "name": "t:names.custom_liquid",
  "tag": "div",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_code",
      "label": "t:settings.liquid_code",
      "info": "t:info.liquid_code_help"
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "t:settings.max_width",
      "min": 320,
      "max": 1440,
      "step": 20,
      "default": 600,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.horizontal_alignment",
      "options": [
        {
          "value": "mr-auto",
          "label": "t:options.left"
        },
        {
          "value": "mx-auto",
          "label": "t:options.center"
        },
        {
          "value": "ml-auto",
          "label": "t:options.right"
        }
      ],
      "default": "mx-auto"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_liquid"
    }
  ]
}
{% endschema %}