<p class="m-0 {{ block.settings.font_size }} {{ block.settings.max_width }}" {{ block.shopify_attributes }}>
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Paragraph",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Insert your catchphrase here (or something else)."
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:options.font_size",
      "options": [
        {
          "value": "text-sm",
          "label": "t:options.sm"
        },
        {
          "value": "text-base",
          "label": "t:options.md"
        },
        {
          "value": "text-lg",
          "label": "t:options.lg"
        },
        {
          "value": "text-xl",
          "label": "t:options.xl"
        }
      ],
      "default": "text-lg"
    },
    {
      "type": "select",
      "id": "max_width",
      "label": "Max width",
      "options": [
        {
          "value": "content-xs",
          "label": "t:options.xs"
        },
        {
          "value": "content-md",
          "label": "t:options.md"
        },
        {
          "value": "content-lg",
          "label": "t:options.lg"
        },
        {
          "value": "content-xl",
          "label": "t:options.xl"
        },
        {
          "value": "content-full",
          "label": "t:options.full"
        }
      ],
      "default": "content-md"
    }
  ],
  "presets": [
    {
      "name": "Paragraph"
    }
  ]
}
{% endschema %}
