.btn,
.btn-outlined,
.btn-text {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  width: auto;
}

.btn {
  background-color: var(--c-primary);
  border-color: var(--c-primary);
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: var(--c-primary-dark);
  color: #fff;
}

.btn:disabled,
.btn:disabled[disabled] {
  background-color: theme('colors.gray.500');
  border-color: theme('colors.gray.500');
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-outlined {
  background-color: transparent;
  border-color: var(--c-primary);
  color: var(--c-link);
}

.btn-outlined:hover {
  background-color: theme('colors.blue.100');
  color: var(--c-link-dark);
}

.btn-text {
  background-color: transparent;
  border-color: transparent;
  color: var(--c-link);
}

.btn-text:hover {
  background-color: theme('colors.blue.100');
  color: var(--c-link-dark);
}

.btn--sm {
  @apply text-sm;

  padding: 0.6em 1em;
}

/* A button that looks like a link */

.btn-link {
  background-color: transparent;
  color: var(--c-link);
}

.btn-link:hover {
  color: var(--c-link-dark);
}

/* Icons buttons */
.btn-icon {
  background: transparent;
  border: 0;
  padding: 0;
}

/* For material icons in button */
.btn-icon i {
  vertical-align: bottom;
}

.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active {
  color: var(--c-primary);
}
