.btn {
  -webkit-appearance: button;
  background-color: #fff;
  border: 3px solid var(--c-primary);
  border-radius: 6px;
  color: var(--c-primary);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-color: var(--c-primary-dark);
  color: var(--c-primary-dark);
  cursor: pointer;
}

.btn--primary {
  background-color: var(--c-primary);
  color: #fff;
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active {
  background-color: var(--c-primary-dark);
  border-color: var(--c-primary-dark);
  color: #fff;
}

/* Icons buttons */
.btn-icon {
  background: transparent;
  border: 0;
  padding: 0;
}

/* For material icons in button */
.btn-icon i {
  vertical-align: bottom;
}

.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active {
  color: var(--c-primary);
}
