/*! purgecss start ignore */

.hero {
  position: relative;
}

.hero--md {
  max-height: 600px;
}

.hero__image {
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

.hero__title {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero__position {
  margin: -6% 3% 3% 3%;
  max-width: 94%;
  position: relative; /* To display on top of image with the negative margin */
}

.hero__content-block {
  background: #fff;
  padding: 24px;
}

.hero--dark .hero__content-block {
  background: #2c2e2f;
  color: #ffff;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    height: 100vh;
  }

  .hero__content {
    align-items: flex-start;
    display: flex;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Horizontal position */
  .hero__content--left {
    justify-content: flex-start;
  }

  .hero__content--center {
    justify-content: center;
  }

  .hero__content--right {
    justify-content: flex-end;
  }

  /* Vertical position */
  .hero__content--top {
    align-items: flex-start;
  }

  .hero__content--middle {
    align-items: center;
  }

  .hero__content--bottom {
    align-items: flex-end;
  }

  .hero__content-block {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 3%;
    max-width: 600px;
    position: sticky;
    top: 3%;
  }

  .hero--dark .hero__content-block {
    background: rgba(0, 0, 0, 0.5);
  }
}

/*! purgecss end ignore */
