<div class="flex flex-col gap-px text-xs text-slate-50">
  {%- for block in section.blocks -%}
    <div class="p-2 bg-slate-800" {{ block.shopify_attributes }}>
      {%- if block.settings.text != blank -%}
        <p class="m-0">
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="underline">
          {%- endif -%}
          {{ block.settings.text | escape }}
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </p>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "max_blocks": 3,
  "limit": 2,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
