<footer id="colophon" class="px-4 py-8 border-t site-footer" role="content-info">
  <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
</footer>

{% schema %}
{
  "name": "Site Footer",
  "settings": []
}
{% endschema %}
