<div class="px-4 py-8 text-center">
  <small>
    {{ 'general.password_page.admin_link_html' | t }}
  </small>
</div>
{% schema %}
{
  "name": "Password footer",
  "settings": [
  ]
}
{% endschema %}
