<div class="flex items-center justify-center p-4 text-center h-96 text-balance">
  <h1>This template section is not yet implemented.</h1>
</div>

{% schema %}
{
  "name": "Main placeholder"
}
{% endschema %}
