<footer id="colophon" class="site-footer border-t px-4 py-8 mt-8" role="content-info">
  <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
</footer>

{% schema %}
  {
    "name": "Site Footer",
    "settings": []
  }
{% endschema %}