.hero {
  position: relative;
}

.hero--md {
  max-height: 600px;
}

.hero__image {
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

.hero__image.placeholder-svg {
  min-height: 600px;
}

.hero__title {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero__content {
  margin-top: -1rem;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  z-index: 1;
}

.hero__content-block {
  background: #fff;
  border-top: 3px solid var(--c-primary);
  padding: 1rem;
}

.hero--dark .hero__content-block {
  background: #2c2e2f;
  color: #ffff;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    max-height: 100vh;
  }

  .hero--full {
    height: 100vh;
  }

  .hero__content {
    align-items: flex-start;
    display: flex;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Horizontal position */
  .hero__content--left {
    justify-content: flex-start;
  }

  .hero__content--center {
    justify-content: center;
  }

  .hero__content--right {
    justify-content: flex-end;
  }

  /* Vertical position */
  .hero__content--top {
    align-items: flex-start;
  }

  .hero__content--middle {
    align-items: center;
  }

  .hero__content--bottom {
    align-items: flex-end;
  }

  .hero__content-block {
    background: rgba(255, 255, 255, 0.5);
    border-top: 0;
    display: inline-block;
    margin: 2rem;
    max-width: 520px;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    position: sticky;
    top: 2rem;
  }

  .hero--dark .hero__content-block {
    background: rgba(0, 0, 0, 0.5);
  }
}
