.product-gallery {
  display: grid;
  width: 100%;
}

.product-gallery figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.product-gallery figcaption {
  font-size: 0.75rem;
  padding: 0.5rem;
}


.product-gallery__image img {
  width: auto;
  max-height: 100%;
}

.product-gallery__video,
.product-gallery__external_video {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .product-gallery {
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: flex-start;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    padding: 1rem var(--page-pad); /* space for scrollbar */
    scroll-padding-left: var(--page-pad);
    scroll-padding-right: var(--page-pad);
    margin-left: calc(var(--page-pad) * -1);
    margin-right: calc(var(--page-pad) * -1);
    width: calc(100% + (var(--page-pad) * 2));
    scroll-snap-type: x mandatory;
  }

  .product-gallery__item {
    border: 1px solid var(--c-border);
    padding: 1rem;
    min-height: 250px;
    min-width: 300px;
    max-height: 400px;
    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .product-gallery {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  /* Full width items: first, video, external_video */
  .product-gallery > :first-child,
  .product-gallery__video,
  .product-gallery__external_video {
    grid-column: span 2 / span 2;
  }
}
