:root {
  --c-border: theme('colors.gray.300');
  --c-error-bg: theme('colors.red.200');
  --c-error: theme('colors.red.600');
  --c-link-dark: theme('colors.blue.900');
  --c-link: theme('colors.blue.600');
  --c-primary-dark: #2a4365;
  --c-primary: #2b6cb0;
  --c-success-bg: theme('colors.green.200');
  --c-success: theme('colors.green.600');
  --c-text-light: theme('colors.gray.300');
  --c-text-medium: theme('colors.gray.600');
  --c-text: theme('colors.gray.900');
}

*,
::before,
::after {
  box-sizing: border-box;
}

body { margin: 0; }

a { color: var(--c-primary); }
a:hover { color: var(--c-primary-dark); }

input,
select,
button {
  font-size: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}

/* Needed for TailwindCSS, did not want the rest of preflight */
[class*='border'] {
  border-color: theme('borderColor.default', currentColor);
  border-style: solid;
  border-width: 0;
}
