:root {
  --c-primary: #2b6cb0;
  --c-primary-dark: #2a4365;
  --c-text: #333;
  --c-text-light: #999;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Needed for TailwindCSS, did not want the rest of preflight */
[class^='border'],
[class*=' border'] {
  border-color: theme('borderColor.default', currentColor);
  border-style: solid;
  border-width: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.4;
}

body { margin: 0; }

a { color: var(--c-primary); }
a:hover { color: var(--c-primary-dark); }

input,
select,
button {
  font-size: 1rem;
}
