/* Basic defaults */
input,
textarea,
select {
  @apply border-gray-400;

  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  max-width: 100%;
}

textarea {
  min-height: 100px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--c-primary);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* Basic form styles */
.form-input,
.form-select,
.form-textarea {
  background-color: #fff;
  border-radius: 0;
  min-width: 100px;
}

.form-input,
.form-select {
  height: 40px;
}

.form-input,
.form-textarea {
  padding: 0.8em;
}

.form-select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-left: 0.8em;
  padding-right: 1.5rem;
}

.form-label {
  color: #999;
  font-size: 0.9em;
}

/* Form block */
.form-block {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-block .form-label {
  display: block;
  margin-bottom: 3px;
}

.form-block .form-input,
.form-block .form-select,
.form-block .form-textarea {
  width: 100%;
}

/* Inline for label & input */
.form-block-inline {
  @apply border-gray-400;

  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-block-inline .form-label {
  font-size: initial;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  padding-left: 0.8em;
  padding-right: 0.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-block-inline .form-input,
.form-block-inline .form-select,
.form-block-inline .form-textarea {
  border: 0;
  flex-grow: 1;
}

/* Vertical forms */

.form-vertical .form-input,
.form-vertical .form-select,
.form-vertical .form-textarea {
  display: block;
  margin-bottom: 0.75rem;
  width: 100%;
}

/* Errors */
.input-error {
  @apply bg-red-200;
  @apply border-red-800;
}

/* Qauntity increment */
.qty-wrapper {
  @apply border-gray-400;

  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  padding-bottom: 1px;
}

.qty-increment {
  border: 0;
  color: var(--c-text-light);
  padding: 3px 6px;
}

.qty-increment:hover {
  color: var(--c-primary);
}

.qty-icon {
  font-size: 20px;
  vertical-align: middle;
}

.qty-icon-delete {
  font-size: 18px;
}

.qty-count {
  border: 0;
  min-width: 1.5rem;
  text-align: center;
}

.qty-input::-webkit-inner-spin-button,
.qty-input::-webkit-outer-spin-button {
  appearance: none;
}
