/* Account for JavaScript disabled */
.js-enabled {
  display: none;
}

.js .js-enabled {
  display: inherit;
}

/* Fallback SVG image when no image has been set */
.placeholder-svg {
  @apply bg-gray-200;
  @apply fill-current;
  @apply text-gray-400;
}

/**
 * Form errors output by {{ form.errors | default_errors }}
 * Aligns with .banner styles
 * https://shopify.dev/docs/liquid/reference/objects/form#form-errors
 */
.errors {
  background-color: var(--c-error-bg);
  border-top-color: var(--c-error);
  border-top-style: solid;
  border-top-width: 3px;
  padding: 0.8rem 1.2rem;
  text-align: left;
}

.errors ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.errors p,
.errors li {
  margin: 0.5em 0;
}

/**
 * Pagination output by {{ paginate | default_pagination }}
 * https://shopify.dev/docs/liquid/reference/objects/paginate
 */
.prev a,
.next a,
.page a,
.current,
.deco {
  display: inline-block;
  padding: 0.5rem;
}

.prev {
  display: inline-block;
  margin-right: 1rem;
}

.next {
  display: inline-block;
  margin-left: 1rem;
}

.current {
  font-weight: bold;
}

.deco {
  color: var(--c-text-light);
}
