
.text-caps {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-sep {
  color: var(--c-text-light);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.c-text-light {
  color: var(--c-text-light);
}
