@import './variables.scss';

body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;
  background: #fff;
  color: $font-color;
  padding: 2vw;
}

// This CSS is not used and will be removed
.not-in-use {
  background-color: silver;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin: 2rem;
  padding: 2rem;
}