@import './variables.scss';

body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;
  background: #fff;
  color: $font-color;
  padding: 2vw;
}